<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    <title>Temperature</title>
</head>
<body>
    <div id="about">
    <input type="text" id="input" placeholder="Enter City Here...">
    <div>
    <button id="temp">Show Temperature</button> 
    <button><a href="/">Click to move back</a></button> 
    </div>

    <div id="citytemp">
    <h1 id="city">City:</h1> 
    <h1 id="temperature">Temperature:</h1>
    </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>